[global]
type=global
user_agent=CRM-Phone-SIP-Gateway

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060

[tele2-auth]
type=auth
auth_type=userpass
username=TELE2_USERNAME
password=TELE2_PASSWORD

[tele2-registration]
type=registration
transport=transport-udp
outbound_auth=tele2-auth
server_uri=sip:TELE2_REGISTRAR
client_uri=sip:TELE2_USERNAME@TELE2_REGISTRAR
contact_user=TELE2_USERNAME
retry_interval=60
forbidden_retry_interval=300
expiration=300

[tele2-aor]
type=aor
contact=sip:TELE2_REGISTRAR
qualify_frequency=60

[tele2-endpoint]
type=endpoint
transport=transport-udp
context=from-tele2
disallow=all
allow=alaw,ulaw
outbound_auth=tele2-auth
aors=tele2-aor
from_user=TELE2_USERNAME
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes

[tele2-identify]
type=identify
endpoint=tele2-endpoint
match=TELE2_SIGNALING_IP_OR_CIDR

[broker-device-auth]
type=auth
auth_type=userpass
username=BROKER_SIP_USERNAME
password=BROKER_SIP_PASSWORD

[broker-device-aor]
type=aor
max_contacts=1
remove_existing=yes
qualify_frequency=30

[broker-device]
type=endpoint
transport=transport-udp
context=from-crm-phone
disallow=all
allow=alaw,ulaw
auth=broker-device-auth
aors=broker-device-aor
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
